.services-wrapper {
  min-width: 100%;
  background-color: whitesmoke;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.services-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .leaf-icon {
    margin: 10px 0px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  p {
    margin-top: 10px;
  }
}
