$ms: 0.12s;

.service-card {
  border: 1.2px solid rgb(46, 205, 113);
  min-width: 255px;
  max-width: 255px;
  min-height: 276px;
  max-height: 276px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: $ms ease-in;

  &:hover {
    background-color: rgb(46, 205, 113);
    color: whitesmoke;
    cursor: pointer;
    .service-card-icon {
      fill: white;
    }
  }
  .service-card-icon {
    transition: $ms ease-in;
  }

  .service-card-icon-wrapper {
    margin-top: 50px;
  }
  .service-card-header {
    font-weight: 500;
    margin: 20px 0px;
    font-size: 1.2rem;
  }
  .service-card-text {
    line-height: 1.35rem;
  }
}
