$hover-underline-height: 6px;
$scale: scaleY(3.5);
$underline-color: rgb(0, 200, 200);

.nav-bar {
  position: relative;

  ul {
    display: flex;
    align-items: center;
    position: relative;
    // flex-wrap: wrap;
  }
}

.underline {
  z-index: 100;
  // wrap hr to next line
  flex: 1 1 100%;
  position: absolute;
  height: 2px;
  width: 20px;
  bottom: 0;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  border: none;
  background: rgb(46, 205, 115);
}
//
